<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Bootstrap CSS -->
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Centro Comercial Bolivar</title>
      </head>
    <body>
    <div>
        <h1 class="text-center">M&A Asociados</h1>
        <h6 class="text-center">Gran portafolio de servicios en la asesoria que requieras</h6>
    </div>
      <div class="container-b">
        <div class="card">
        <a href=""> <img src={l} alt="leyes"/></a>
        <h4> M&A Asociados</h4>
        <p>Despacho de abogados con un amplio portafolio y asesoria personalizada</p>
        <p>Contáctanos +57 318088978</p>
        
      </div>
      <div class="container-desc">
      <h4> Ofrecemos variedad de asesoria</h4>
        <p>Fiscal. Hemos querido darle un espacio propio en lugar de incluirla como una parte de la asesoría financiera</p>
        <p>Laboral. Poco hay que aclarar sobre esta asistencia específica para todo lo relativo a la contratación de trabajadores.</p>
        <p>Juridíca. El consejo de expertos en temas legales debe ser de los primeros que contratemos. </p>
        <p>Financiera.  Probablemente el más conocido de estos servicios.</p>
        </div>
      
      </div>
    </div>

    </body>
</html>